@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        /*
    *
    * This all are the rgb values which are used inside the
    * tailwind config file and custom plugins css file
    *
    */
        /*
    * primary color
    */
        --color-accent: 0, 159, 127;
        /*
    * Hover state color of primary color
    */
        --color-accent-hover: 1, 147, 118;
        /*
    * shade of primary color
    */
        --color-accent-200: 204, 236, 229;
        /*
    * shade of primary color
    */
        --color-accent-300: 153, 217, 204;
        /*
    * shade of primary color
    */
        --color-accent-400: 77, 188, 165;
        /*
    * shade of primary color
    */
        --color-accent-500: 0, 159, 127;
        /*
    * shade of primary color
    */
        --color-accent-600: 0, 143, 114;
        /*
    * shade of primary color
    */
        --color-accent-700: 0, 119, 95;
        /*
    * light color
    */
        --color-light: 255, 255, 255;
        /* light Hover */
        --color-light-hover: 0, 0, 0;
        /*
    * dark color
    */
        --color-dark: 0, 0, 0;
        /*
    * Black muted color
    */
        --color-muted-black: 17, 17, 17;
        /*
    * Current color
    */
        --color-current: currentColor;
        /*
    *
    * TEXT colors
    *
    */
        /*
    * text color used for body/base text -> gray-500
    */
        --text-base: 107, 114, 128;
        /*
    * dark base text color  -> gray-600
    */
        --text-base-dark: 75, 85, 99;
        /*
    * muted text color -> gray-400
    */
        --text-muted: 156, 163, 175;
        /*
    * light muted text color - gray-300
    */
        --text-muted-light: 209, 213, 219;
        /*
    * text color used for heading text -> gray-700
    */
        --text-sub-heading: 55, 65, 81;
        /*
    * text color used for heading text -> gray-800
    */
        --text-heading: 31, 41, 55;
        /*
    * text color used for heading text -> gray-900
    */
        --text-bolder: 31, 41, 55;
        /*
    *
    * border colors
    *
    */
        /*
    * border color 50
    */
        --color-border-50: 249, 250, 251;
        /*
    * border color 100
    */
        --color-border-100: 243, 244, 246;
        /*
    * border color 200
    */
        --color-border-200: 229, 231, 235;
        /*
    * border base color which is 300
    */
        --color-border-base: 209, 213, 219;
        /*
    * border color 400
    */
        --color-border-400: 156, 163, 175;
        /*
    *
    * Tailwind default gray color override
    *
    */
        /*
    * gray-50
    */
        --color-gray-50: 249, 250, 251;
        /*
    * gray-100
    */
        --color-gray-100: 243, 244, 246;
        /*
    * gray-200
    */
        --color-gray-200: 229, 231, 235;
        /*
    * gray-300
    */
        --color-gray-300: 209, 213, 219;
        /*
    * gray-400
    */
        --color-gray-400: 156, 163, 175;
        /*
    * gray-500
    */
        --color-gray-500: 107, 114, 128;
        /*
    * gray-600
    */
        --color-gray-600: 75, 85, 99;
        /*
    * gray-700
    */
        --color-gray-700: 55, 65, 81;
        /*
    * gray-800
    */
        --color-gray-800: 31, 41, 55;
        /*
    * gray-900
    */
        --color-gray-900: 31, 41, 55;
        /*
    * orange-50
    */
        --color-orange-50: 255, 247, 237;
        /*
    * orange-100
    */
        --color-orange-100: 255, 237, 213;
        /*
    * orange-200
    */
        --color-orange-200: 254, 215, 170;
        /*
    * orange-300
    */
        --color-orange-300: 253, 186, 116;
        /*
    * orange-400
    */
        --color-orange-400: 251, 146, 60;
        /*
    * orange-500
    */
        --color-orange-500: 249, 115, 22;
        /*
    * orange-600
    */
        --color-orange-600: 234, 88, 12;
        /*
    * orange-700
    */
        --color-orange-700: 194, 65, 12;
        /*
    * orange-800
    */
        --color-orange-800: 154, 52, 18;
        /*
    * orange-900
    */
        --color-orange-900: 124, 45, 18;
    }
    html {
        -webkit-tap-highlight-color: transparent;
    }
    body {
        @apply font-body;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
    a {
        @apply no-underline;
    }
}

@layer utilities {
    .header-bg-color {
        background-color: hotpink;
    }
    .header-text-color {
        color: white;
    }
    .bottom-header-bg-color {
        background-color: blue;
    }
    .bottom-header-text-color {
        color: yellow;
    }
    .footer-bg-color {
        background-color: orange;
    }
    .footer-text-color {
        color: blue;
    }
}

@import './custom-plugins.css';
.style-module_emptyIcons__Bg-FZ {
    display: flex !important;
}


/* 
.starRatingWrap {
  display: inline-block;
  touch-action: none;
}


.simpleStarRating {
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  touch-action: none;
} */


/* .fillIcons {
  position: absolute;
  top: 0;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
} */


/* .emptyIcons {
  display: inline-block;
} */


/* 
.tooltip {
  display: inline-block;
  padding: 5px 15px;
  background-color: #333;
  color: #fff;
  vertical-align: middle;
  border-radius: 5px;
} */

.rating_demo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    width: 100%;
    /* padding: 2rem; */
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    margin: 0.5rem 0 1rem;
    border-radius: 0.25rem;
}

.rating_box {
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 2rem;
}


/* UTILITY CLASSE FOR SHOWING SCROLLBAR ONLY WHILE SCROLLING  */


/* Show the scrollbar when hovering over the container */

.scrollbar-on-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-on-hover:hover::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    display: block;
}


/* Show the scrollbar thumb and track when hovering over them */

.scrollbar-on-hover:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.scrollbar-on-hover:hover::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.overflow-y-overlay {
    overflow-y: overlay;
}


/* SWIPER IN PRODUCT DETAILS */

.swiper-slide-image div img {
    height: 100%;
    max-height: 90vh;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

#productGallery div div {
    display: flex;
    align-items: flex-start;
}

#productGallery div div span {
    height: 100% !important;
}

.react-transform-wrapper {
    height: 100% !important;
}

.react-transform-component {
    height: 100% !important;
}

@media screen and (min-width: 768px) {
    #productGalleryThumbs {
        height: 100%;
        width: 100%;
        overflow: visible;
    }
    #productGalleryThumbs div {
        flex-direction: column !important;
        align-items: flex-end;
        justify-content: center;
    }
    #productGalleryThumbs div div {
        width: 100% !important;
        margin-right: 0px !important;
        height: 18.6%;
        min-height: 18.6%;
        margin-bottom: 0.5rem;
        max-width: 5.1rem;
        max-height: 26px !important;
    }
    #productGalleryThumbs div div span {
        min-height: 100%;
    }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    #productGalleryThumbs div {
        justify-content: center;
        flex-wrap: wrap;
    }
    #productGalleryThumbs div div {
        max-width: 7rem;
        max-height: 5.2rem;
        min-height: 5.1rem;
        margin-top: 0.8rem;
    }
    #productGalleryThumbs div div div {
        margin-top: 0 !important;
    }
    #productGalleryThumbs div div span {
        width: 100%;
    }
}

.bg-custom-light {
    background-color: white !important;
}* { box-sizing: border-box; } body {margin: 0;}.tab-content{animation:fadeEffect 1s;}.hamburger1{display:none;}.bar1{display:block;width:25px;height:3px;margin:5px auto;-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;background-color:#101010;}#i4ty2{width:100%;display:flex;justify-content:center;align-items:center;}#iwn4j{font-family:Dancing Script, cursive;font-weight:700;font-size:28px;color:white;}#ip927{font-family:Josefin Sans, sans-serif;font-weight:500;color:white;}#igio6{font-family:Josefin Sans, sans-serif;font-weight:500;color:white;}#icpyl{font-family:Josefin Sans, sans-serif;font-weight:500;color:white;}#i1uae{color:#0a8fce;}#i73en{display:flex;justify-content:center;align-items:center;}#i3tsb{background-color:#9f4103;color:white;padding:8px 20px 8px 20px;border:0px solid;}#ic5ei{padding:8px 20px 8px 20px;border:0px solid;color:white;background-color:#9f4103;}#ia8z4{height:10px;width:10px;border-radius:100%;}#indqq{height:10px;width:10px;border-radius:100%;}#i7c55{height:10px;width:10px;border-radius:100%;}#im87r{height:80vh;}#iokct9{height:80vh;}#izysmd{height:80vh;}#im8nb{height:100%;display:flex;justify-content:center;align-items:center;flex-direction:column;}#igswjq{height:100%;display:flex;justify-content:center;align-items:center;flex-direction:column;}#i81ti8{height:100%;display:flex;justify-content:center;align-items:center;flex-direction:column;}#itbt5i{color:#cecece;font-family:Comfortaa, cursive;font-size:50px;font-weight:700;}#i9vglm{color:white;font-family:Comfortaa, cursive;}#ijlrcr{color:white;font-family:Comfortaa, cursive;font-weight:100;}#init3w{color:white;font-family:Comfortaa, cursive;font-size:50px;font-weight:700;}#ilsczk{color:white;font-family:Comfortaa, cursive;}#irv5g5{color:white;font-family:Comfortaa, cursive;font-weight:100;}#isbdm7{color:white;font-family:Comfortaa, cursive;font-size:50px;font-weight:700;}#i2suim{color:white;font-family:Comfortaa, cursive;}#ificyg{color:white;font-family:Comfortaa, cursive;font-weight:100;}#irpprp{padding:30px 20px;background-repeat:round;background-position:left top;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/product-section-bg-img_1.jpg?v=1621593828');}#i4b68l{display:flex;justify-content:center;align-items:center;flex-direction:column;}#i9lx2v{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:35px;text-align:center;color:#9f4103;}#i5anxx{padding:10px 10px 10px 10px;font-family:Preahvihear, sans-serif;font-weight:400;font-size:15px;text-align:left;color:#c2c2c2;border-bottom:0px solid #7b0b0b;}#isjrb5{display:flex;justify-content:center;align-items:center;flex-direction:column;padding:30px 0 0 0;}#ite4qt{color:white;}#iizwbr{color:white;}#v-pills-profile-tab-3afa0888-b4f3-411f-88f6-d558b8ad8e65{background-color:#c6c6c6;}#v-pills-home-tab-3afa0888-b4f3-411f-88f6-d558b8ad8e65{background-color:#c6c6c6;}#v-pills-home-tab-3afa0888-b4f3-411f-88f6-d558b8ad8e65:hover{background-color:#808080;}#v-pills-profile-tab-3afa0888-b4f3-411f-88f6-d558b8ad8e65:hover{background-color:#808080;}#v-pills-home-tab-3afa0888-b4f3-411f-88f6-d558b8ad8e65:active{background-color:#808080;}#v-pills-home-tab-3afa0888-b4f3-411f-88f6-d558b8ad8e65:nth-of-type(2n){background-color:#808080;}#itiefj{padding:10vh 20px 10vh 20px;background-repeat:repeat, no-repeat;background-position:left top, center center;background-attachment:scroll, fixed;background-size:auto, cover;background-image:linear-gradient(rgba(0,0,0,0.44) 0%, rgba(0,0,0,0.44) 100%), url('https://waffy-demo.myshopify.com/cdn/shop/files/parallax2.jpg?v=1614285054');}#i1poqk{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#i73xwa{padding:10px 10px 20px 10px;font-family:Preahvihear, sans-serif;font-weight:400;font-size:15px;text-align:center;color:#8d8d8d;border-bottom:2px solid #7b0b0b;}#ia50m6{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:26px;text-align:left;color:white;}#indfsp{padding:10px 10px 10px 10px;font-family:Preahvihear, sans-serif;font-weight:400;font-size:15px;text-align:left;color:#c2c2c2;border-bottom:0px solid #7b0b0b;}#id3opu{padding:8px 20px 8px 20px;color:white;border:1px solid white;}#i7joft{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#iiydtv{display:flex;justify-content:center;align-items:center;}#ivj2b2{padding:30px 20px;transition:background-color 2s ease;background-repeat:repeat;background-position:left top;background-attachment:scroll;background-size:auto;background-image:none;}#iq7dj5{height:100%;}#iwwi7i{background-repeat:no-repeat;background-position:center bottom;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/category-img1_1728x.jpg?v=1614285054');}#i301km{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:35px;text-align:left;color:#f4b322;}#i5ripk{background-color:rgba(0,0,0,0.53);margin:0px 0px 30vh 0px;border-radius:20px 20px 20px 20px;}#ip45kj{padding:10px 10px 10px 10px;font-family:Preahvihear, sans-serif;font-weight:400;font-size:15px;text-align:left;color:#c2c2c2;border-bottom:0px solid #7b0b0b;}#i8thcr{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#iw04qf{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#immfxj{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:26px;text-align:left;color:white;}#iuv0aq{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#ibkcus{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#ivkjel{background-color:rgba(0,0,0,0.53);border-radius:20px 20px 20px 20px;}#ir45wv{background-repeat:no-repeat;background-position:center bottom;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/5_4e38f59d-7f13-4178-bea4-585b14340754_970x.jpg?v=1614285054');height:100%;display:flex;justify-content:flex-end;align-items:flex-end;}#ij3xt5{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:26px;text-align:left;color:white;}#i4w7ui{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#i2zwks{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#ikg96f{background-color:rgba(0,0,0,0.53);border-radius:20px 20px 20px 20px;}#iikgk3{background-repeat:no-repeat;background-position:center bottom;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/1_edbd9eee-ab29-41f6-b777-2a285383f3b4_1280x.jpg?v=1614285054');height:100%;display:flex;justify-content:flex-end;align-items:flex-end;}#ifphuk{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:26px;text-align:left;color:white;}#ixci6z{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#ig70nj{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#i4yf65{background-color:rgba(0,0,0,0.53);border-radius:20px 20px 20px 20px;}#itjomu{background-repeat:no-repeat;background-position:center bottom;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/6_66c47675-9f17-4bde-bcad-325e3f5e6eb3_970x.jpg?v=1614285054');height:100%;display:flex;justify-content:flex-end;align-items:flex-end;}#igu4n8{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:26px;text-align:left;color:white;}#imvus9{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#ittf7w{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#ivv2wj{background-color:rgba(0,0,0,0.53);border-radius:20px 20px 20px 20px;}#i0gtx7{background-repeat:no-repeat;background-position:center bottom;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/2_f76de8c0-48d4-4d64-8892-2645d4145b1e_1280x.jpg?v=1614285054');height:100%;display:flex;justify-content:flex-end;align-items:flex-end;}#it8fye{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:30px;text-align:left;color:white;}#izs3kj{padding:8px 20px 8px 20px;color:white;border:1px solid white;}#ipic54{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#i21l64{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#iiwvmn{display:flex;flex-direction:column;justify-content:center;align-items:center;}#izkbz7{padding:10vh 20px 10vh 20px;background-repeat:repeat, no-repeat;background-position:left top, center center;background-attachment:scroll, fixed;background-size:auto, cover;background-image:linear-gradient(rgba(0,0,0,0.44) 0%, rgba(0,0,0,0.44) 100%), url('https://waffy-demo.myshopify.com/cdn/shop/files/parallax-full-width.jpg?v=1614285053');}#ig2s7j{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:46px;text-align:left;color:#f4b322;}#isw89q{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:30px;text-align:left;color:#f4b322;}#iex39k{background-color:white;}#i2esl4{background-color:#808080;bottom:-40px;}#i7fp6t{background-color:#808080;bottom:-40px;}#ie576y{background-color:#808080;bottom:-40px;}#innstk{background-color:#808080;bottom:-40px;}#irmurd{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:35px;text-align:center;color:#9f4103;}#itbb2h{padding:10px 10px 20px 10px;font-family:Preahvihear, sans-serif;font-weight:400;font-size:15px;text-align:center;color:#8d8d8d;border-bottom:2px solid #7b0b0b;}#ilgg3y{display:flex;justify-content:center;align-items:center;flex-direction:column;}#ihcduo{background-color:#c6c6c6;border-radius:20px 20px 20px 20px;}#i03dci{color:white;font-family:Preahvihear, sans-serif;}#id32dz{color:#e6e6e6;font-family:Preahvihear, sans-serif;}#ipc3z3{color:white;font-family:Preahvihear, sans-serif;}#i4ie6h{color:#e6e6e6;font-family:Preahvihear, sans-serif;}#ix21ih{color:white;font-family:Preahvihear, sans-serif;}#ilzdtz{color:#e6e6e6;font-family:Preahvihear, sans-serif;}#i45os8{color:white;font-family:Preahvihear, sans-serif;}#il3uvj{color:#e6e6e6;font-family:Preahvihear, sans-serif;}#iepfmc{object-fit:cover;}#iix24p{object-fit:cover;}#inp7l8{object-fit:cover;}#i8mbtt{object-fit:cover;}#i8ie2i{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:35px;text-align:center;color:#9f4103;}#io7e58{padding:10px 10px 20px 10px;font-family:Preahvihear, sans-serif;font-weight:400;font-size:15px;text-align:center;color:#8d8d8d;border-bottom:2px solid #7b0b0b;}#im51m1{display:flex;justify-content:center;align-items:center;flex-direction:column;}#i4bsiu{background-color:white;}#iopp81{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:35px;text-align:center;color:#9f4103;}#i8ewm2{padding:10px 10px 20px 10px;font-family:Preahvihear, sans-serif;font-weight:400;font-size:15px;text-align:center;color:#8d8d8d;border-bottom:2px solid #7b0b0b;}#itg829{display:flex;justify-content:center;align-items:center;flex-direction:column;}#i4dxky{background-color:white;}#ix1k2x{height:35vh;object-fit:cover;}#i43dl4{font-family:Preahvihear, sans-serif;font-size:14px;color:#646464;}#iei8pv{font-family:Preahvihear, sans-serif;font-size:20px;font-weight:900;}#ius86f{border-radius:8px 8px 8px 8px;}#iz4a7x{height:35vh;object-fit:cover;}#iymal9{font-family:Preahvihear, sans-serif;font-size:20px;font-weight:900;}#i3iar6{font-family:Preahvihear, sans-serif;font-size:14px;color:#646464;}#ixy7so{border-radius:8px 8px 8px 8px;}#ixgafh{height:35vh;object-fit:cover;}#ii63b7{font-family:Preahvihear, sans-serif;font-size:20px;font-weight:900;}#ig1gtj{font-family:Preahvihear, sans-serif;font-size:14px;color:#646464;}#iywmgy{border-radius:8px 8px 8px 8px;}#iduw3w{height:35vh;object-fit:cover;}#i8g02b{font-family:Preahvihear, sans-serif;font-size:20px;font-weight:900;}#ifdnau{font-family:Preahvihear, sans-serif;font-size:14px;color:#646464;}#iu7k6i{border-radius:8px 8px 8px 8px;}#igva31{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:35px;text-align:center;color:#9f4103;}#iw5k6n{padding:10px 10px 20px 10px;font-family:Preahvihear, sans-serif;font-weight:400;font-size:15px;text-align:center;color:#8d8d8d;border-bottom:2px solid #7b0b0b;}#inxsq9{display:flex;justify-content:center;align-items:center;flex-direction:column;}#i803u1{font-family:Preahvihear, sans-serif;font-size:20px;font-weight:900;text-align:center;color:#9f4103;}#is69yh{font-family:Preahvihear, sans-serif;font-size:14px;color:#646464;text-align:center;}#iuqhnj{display:flex;flex-direction:column;justify-content:center;align-items:center;}#inwuho{background-color:#f0f0f0;padding:6vh 0px 0px 0px;}#i9elpg{height:80px;width:80px;background-color:#7f0a0a;border-radius:100% 100% 100% 100%;transform:translateY(-53px);}#ikx1ko{height:80px;width:80px;background-color:#7f0a0a;border-radius:100% 100% 100% 100%;transform:translateY(-53px);}#imctmo{font-family:Preahvihear, sans-serif;font-size:20px;font-weight:900;text-align:center;color:#9f4103;}#igmnyo{font-family:Preahvihear, sans-serif;font-size:14px;color:#646464;text-align:center;}#i60kt3{display:flex;flex-direction:column;justify-content:center;align-items:center;}#il25ii{height:80px;width:80px;background-color:#7f0a0a;border-radius:100% 100% 100% 100%;transform:translateY(-53px);}#i1h58s{font-family:Preahvihear, sans-serif;font-size:20px;font-weight:900;text-align:center;color:#9f4103;}#iedqje{font-family:Preahvihear, sans-serif;font-size:14px;color:#646464;text-align:center;}#ipo27d{display:flex;flex-direction:column;justify-content:center;align-items:center;}#i3dvv1{color:#0a8fce;}#itq1mh{font-family:Dancing Script, cursive;font-weight:700;font-size:28px;color:#7a7a7a;}#i0cws4{font-family:Preahvihear, sans-serif;font-weight:300;font-size:15px;color:#646464;}#ia3ky6{display:flex;justify-content:flex-start;align-items:center;}#ihmfwh{color:#646464;}#ichp7l{color:#646464;}#iiwoms{color:#646464;}#i7m5lq{color:#646464;}#irkk0i{font-family:Preahvihear, sans-serif;font-weight:900;font-size:18px;text-align:center;}#itskkj{font-family:Preahvihear, sans-serif;font-weight:900;font-size:18px;text-align:center;}#iovdnm{font-family:Preahvihear, sans-serif;font-weight:900;font-size:18px;text-align:center;}#i8qcrg{font-family:Preahvihear, sans-serif;font-weight:900;font-size:18px;text-align:center;}#iiib6z{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#ihgth4{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#ia5yrn{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#ikkjpd{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#ix6byu{display:flex;flex-direction:column;align-items:center;}#i3xd5l{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#ihqbwy{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#ikg3qo{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#i0yxni{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#iu1xii{display:flex;flex-direction:column;align-items:center;}#i5eltl{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#ig9b47{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#iser9m{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#icazz9{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#if2uxq{display:flex;flex-direction:column;align-items:center;}#i8suf6{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#ing5sg{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#i6kr9p{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#iyvm5v{color:#646464;font-family:Preahvihear, sans-serif;font-size:13px;}#ijazuz{display:flex;flex-direction:column;align-items:center;}#i3g81y{color:#000000;}#ilbnk1{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:26px;text-align:left;color:white;}#idlj7n{padding:10px 10px 10px 10px;font-family:Preahvihear, sans-serif;font-weight:400;font-size:15px;text-align:left;color:#c2c2c2;border-bottom:0px solid #7b0b0b;}#iq05pi{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#iyyrbf{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#i8d059{background-color:rgba(0,0,0,0.53);margin:0px 0px 30vh 0px;border-radius:20px 20px 20px 20px;}#iiquvp{background-repeat:no-repeat;background-position:center bottom;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/category-img1_1728x.jpg?v=1614285054');}#i1s0j3{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:26px;text-align:left;color:white;}#i9wm5r{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#i06zzb{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#i5c7m3{background-color:rgba(0,0,0,0.53);border-radius:20px 20px 20px 20px;}#ixsmc9{background-repeat:no-repeat;background-position:center bottom;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/5_4e38f59d-7f13-4178-bea4-585b14340754_970x.jpg?v=1614285054');height:100%;display:flex;justify-content:flex-end;align-items:flex-end;}#ititsg{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:26px;text-align:left;color:white;}#iyootp{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#i0n5mb{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#ief6dj{background-color:rgba(0,0,0,0.53);border-radius:20px 20px 20px 20px;}#iz10dn{background-repeat:no-repeat;background-position:center bottom;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/1_edbd9eee-ab29-41f6-b777-2a285383f3b4_1280x.jpg?v=1614285054');height:100%;display:flex;justify-content:flex-end;align-items:flex-end;}#iy7n3u{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:26px;text-align:left;color:white;}#i80fdh{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#i1c9jp{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#irxvl9{background-color:rgba(0,0,0,0.53);border-radius:20px 20px 20px 20px;}#i1cyxn{background-repeat:no-repeat;background-position:center bottom;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/2_f76de8c0-48d4-4d64-8892-2645d4145b1e_1280x.jpg?v=1614285054');height:100%;display:flex;justify-content:flex-end;align-items:flex-end;}#i4ksyf{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:26px;text-align:left;color:white;}#iieeot{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#inod2p{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#ipdn1z{background-color:rgba(0,0,0,0.53);border-radius:20px 20px 20px 20px;}#in8g3f{background-repeat:no-repeat;background-position:center bottom;background-attachment:scroll;background-size:cover;background-image:url('https://waffy-demo.myshopify.com/cdn/shop/files/6_66c47675-9f17-4bde-bcad-325e3f5e6eb3_970x.jpg?v=1614285054');height:100%;display:flex;justify-content:flex-end;align-items:flex-end;}#i4sn89{height:100%;}#ifyl07{padding:30px 20px;transition:background-color 2s ease;background-repeat:repeat;background-position:left top;background-attachment:scroll;background-size:auto;background-image:none;}#iz3xxh{text-align:center;padding:12px 0 0 0;font-family:Preahvihear, sans-serif;font-weight:600;font-size:17px;}#ivrzpb{text-align:center;padding:12px 0 0 0;font-family:Preahvihear, sans-serif;font-weight:600;font-size:17px;}#il9vu3{text-align:center;padding:12px 0 0 0;font-family:Preahvihear, sans-serif;font-weight:600;font-size:17px;}#ivpkwk{text-align:center;padding:12px 0 0 0;font-family:Preahvihear, sans-serif;font-weight:600;font-size:17px;}#ilhh9a{text-align:center;padding:0 0 5px 0;font-family:Preahvihear, sans-serif;font-weight:100;font-size:15px;color:#8d8d8d;}#ib5i1f{text-align:center;padding:0 0 5px 0;font-family:Preahvihear, sans-serif;font-weight:100;font-size:15px;color:#8d8d8d;}#ivzwwy{text-align:center;padding:0 0 5px 0;font-family:Preahvihear, sans-serif;font-weight:100;font-size:15px;color:#8d8d8d;}#i560ai{text-align:center;padding:0 0 5px 0;font-family:Preahvihear, sans-serif;font-weight:100;font-size:15px;color:#8d8d8d;}#isf3mk{height:280px;}#iwd0ws{height:280px;}#ih334g{height:280px;}#i9mohy{height:280px;}#ijre36{text-align:center;font-family:Preahvihear, sans-serif;font-weight:100;font-size:15px;color:#8d8d8d;padding:0 0 5px 0;}#ietr5d{text-align:center;font-family:Preahvihear, sans-serif;font-weight:600;font-size:17px;padding:12px 0 0 0;}#invh6g{text-align:center;font-family:Preahvihear, sans-serif;font-weight:600;font-size:17px;padding:12px 0 0 0;}#iav1kv{text-align:center;font-family:Preahvihear, sans-serif;font-weight:600;font-size:17px;padding:12px 0 0 0;}#ifgtbw{text-align:center;font-family:Preahvihear, sans-serif;font-weight:600;font-size:17px;padding:12px 0 0 0;}#if4lox{text-align:center;font-family:Preahvihear, sans-serif;font-weight:100;font-size:15px;color:#8d8d8d;padding:0 0 5px 0;}#i9z084{text-align:center;font-family:Preahvihear, sans-serif;font-weight:100;font-size:15px;color:#8d8d8d;padding:0 0 5px 0;}#ij2vhm{text-align:center;font-family:Preahvihear, sans-serif;font-weight:100;font-size:15px;color:#8d8d8d;padding:0 0 5px 0;}#iw0z3c{height:280px;}#i9rjv5{height:280px;}#itgnpb{height:280px;}#ipgado{height:280px;}.shopiana-bg-white{background-color:white;}#iaq3o{margin:0 20px 0 0;}#i3jtu9{font-family:Preahvihear, sans-serif;font-weight:600;font-size:15px;text-align:center;padding:12px 0 0 0;}#irwgah{font-family:Preahvihear, sans-serif;font-weight:600;font-size:15px;text-align:center;padding:12px 0 0 0;}#i4k72k{font-family:Preahvihear, sans-serif;font-weight:600;font-size:15px;text-align:center;padding:12px 0 0 0;}#ilf4b5{font-family:Preahvihear, sans-serif;font-weight:600;font-size:15px;text-align:center;padding:12px 0 0 0;}#i4w0gt{height:250px;}#iq6q2v{height:250px;}#itej8n{height:250px;}#i4nt7v{height:250px;}#i9bx5n{cursor:pointer;}#im7ym4{cursor:pointer;}#iz2wil{cursor:pointer;}#i3frpk{cursor:pointer;}#isox3c{cursor:pointer;}#ihjhaf{cursor:pointer;}#i4m775{cursor:pointer;}#iupu0w{cursor:pointer;}#isoymy{font-family:Josefin Sans, sans-serif;font-weight:500;color:white;}#i4cze{background-color:black;}#ik4vzt{color:white;}@keyframes fadeEffect{from{opacity:0;}to{opacity:1;}}@media only screen and (max-width: 992px){.hamburger1{display:block;cursor:pointer;}.hamburger1.active .bar1:nth-child(2){opacity:0;}.hamburger1.active .bar1:nth-child(1){transform:translateY(8px) rotate(45deg);}.hamburger1.active .bar1:nth-child(3){transform:translateY(-8px) rotate(-45deg);}}@media (max-width: 990px){#iiydtv{display:none;}#iam0zf{width:100%;}#iiwvmn{width:100%;}}* { box-sizing: border-box; } body {margin: 0;}#if5wdc{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:30px;text-align:left;color:white;}#ihl2dw{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:46px;text-align:left;color:#f4b322;}#icntpi{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#i0g4kf{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#ifx1qm{display:flex;flex-direction:column;justify-content:center;align-items:center;}#if35gh{padding:5vh 20px 5vh 20px;background-repeat:repeat, no-repeat;background-position:left top, center center;background-attachment:scroll, fixed;background-size:auto, cover;background-image:linear-gradient(rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.55) 100%), url('https://proagri.co.za/wp-content/uploads/2023/07/vecteezy_a-bowl-of-organic-spice-collection-in-pattern-generated-by-ai_24768834_610-scaled.jpg');}#iv1o9j{background-color:white;}#form3Example1{background-color:white;}#form3Example2{background-color:white;}#form3Example3{background-color:white;}#form3Example4{background-color:white;}#i1ifyr{height:400px;width:100%;}#ibi8a3{display:flex;justify-content:flex-start;align-items:flex-start;}#if0wdh{display:flex;justify-content:flex-start;align-items:flex-start;}#iddnr4{display:flex;justify-content:flex-start;align-items:flex-start;}#ieb3fi{display:flex;justify-content:flex-start;align-items:flex-start;}#iyopri{display:flex;justify-content:flex-start;align-items:flex-start;}#i0ef82{display:flex;justify-content:flex-start;align-items:flex-start;}#i5m95a{display:flex;justify-content:flex-start;align-items:flex-start;}#iuekv3{display:flex;justify-content:flex-start;align-items:flex-start;}#i3xqm6{color:#9f4103;}#i65tqe{display:flex;align-items:center;}#i5eulu{color:#9f4103;}#iczwpf{color:#9f4103;}#i80fy7{color:#9f4103;}#if8e4g{background-color:#9f4103;}@keyframes fadeEffect{from{opacity:0;}to{opacity:1;}}@media only screen and (max-width: 992px){.hamburger1.active .bar1:nth-child(2){opacity:0;}.hamburger1.active .bar1:nth-child(1){transform:translateY(8px) rotate(45deg);}.hamburger1.active .bar1:nth-child(3){transform:translateY(-8px) rotate(-45deg);}}@media (max-width: 990px){#ifx1qm{width:100%;}}* { box-sizing: border-box; } body {margin: 0;}.tab{padding:7px 14px;display:inline-block;border-radius:3px;margin-right:10px;}.tab:focus{outline:none;}.tab.tab-active{background-color:#0d94e6;color:white;}.tab-container{display:inline-block;}.tab-content{animation:fadeEffect 1s;}.tab-contents{min-height:100px;padding:10px;}#ia3rvi{padding:10px;}@keyframes fadeEffect{from{opacity:0;}to{opacity:1;}}@media only screen and (max-width: 992px){.hamburger1.active .bar1:nth-child(2){opacity:0;}.hamburger1.active .bar1:nth-child(1){transform:translateY(8px) rotate(45deg);}.hamburger1.active .bar1:nth-child(3){transform:translateY(-8px) rotate(-45deg);}}* { box-sizing: border-box; } body {margin: 0;}#i9jjra{width:100%;object-fit:cover;border-radius:10px 10px 10px 10px;height:350px;}#iua4ow{font-family:Preahvihear, sans-serif;font-size:15px;color:#646464;line-height:30px;text-align:left;}#ihp77f{font-family:Preahvihear, sans-serif;font-size:15px;color:#646464;}#itt6nq{font-family:Preahvihear, sans-serif;font-size:18px;color:#000000;}#it1lbf{padding:10px 10px 10px 0px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:28px;text-align:left;color:#9f4103;}#ii6c8l{padding:10px 10px 10px 0px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:28px;text-align:left;color:#9f4103;}#irnnem{font-family:Preahvihear, sans-serif;font-size:18px;color:#000000;}#iohern{font-family:Preahvihear, sans-serif;font-size:15px;color:#646464;}#ik0xyn{font-family:Preahvihear, sans-serif;font-size:18px;color:#000000;}#ia9qbc{font-family:Preahvihear, sans-serif;font-size:15px;color:#646464;}#i5frh8{font-family:Preahvihear, sans-serif;font-size:18px;color:#000000;}#i50w3v{font-family:Preahvihear, sans-serif;font-size:15px;color:#646464;}#i4y83l{font-family:Preahvihear, sans-serif;font-size:18px;color:#000000;}#iv0m6a{font-family:Preahvihear, sans-serif;font-size:15px;color:#646464;}#i6upgf{font-family:Preahvihear, sans-serif;font-size:18px;color:#000000;}#ilzc12{font-family:Preahvihear, sans-serif;font-size:15px;color:#646464;}@keyframes fadeEffect{from{opacity:0;}to{opacity:1;}}@media only screen and (max-width: 992px){.hamburger1.active .bar1:nth-child(2){opacity:0;}.hamburger1.active .bar1:nth-child(1){transform:translateY(8px) rotate(45deg);}.hamburger1.active .bar1:nth-child(3){transform:translateY(-8px) rotate(-45deg);}}* { box-sizing: border-box; } body {margin: 0;}#i2g6gb{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:35px;text-align:center;color:#9f4103;}#izcjx7{padding:10px 10px 20px 10px;font-family:Preahvihear, sans-serif;font-weight:400;font-size:15px;text-align:center;color:#8d8d8d;border-bottom:2px solid #7b0b0b;}#i8v3pa{display:flex;justify-content:center;align-items:center;flex-direction:column;}#iwrh7i{background-color:white;}#ioca3f{border-radius:10px 10px 10px 10px;background-repeat:repeat, no-repeat;background-position:left top, center center;background-attachment:scroll, scroll;background-size:auto, cover;background-image:linear-gradient(rgba(0,0,0,0.33) 0%, rgba(0,0,0,0.33) 100%), url('https://shwetainthekitchen.com/wp-content/uploads/2022/07/Pav-bhaji.jpg');height:40vh;display:flex;justify-content:center;align-items:center;}#ioca3f:hover{box-shadow:0px 0px 221px 19px black inset;}#ihgp02{color:#d983a6;}#icpf9w{padding:10px;text-align:center;font-family:Preahvihear, sans-serif;font-weight:600;color:white;font-size:20px;}#icpf9w:hover{color:white;}#itowoy{border-radius:10px 10px 10px 10px;background-repeat:repeat, no-repeat;background-position:left top, center center;background-attachment:scroll, scroll;background-size:auto, cover;background-image:linear-gradient(rgba(0,0,0,0.33) 0%, rgba(0,0,0,0.33) 100%), url('https://shwetainthekitchen.com/wp-content/uploads/2022/07/Pav-bhaji.jpg');height:40vh;display:flex;justify-content:center;align-items:center;}#itowoy:hover{box-shadow:0px 0px 221px 19px black inset;}#i7184x{color:#d983a6;}#i0wl3u{padding:10px;text-align:center;font-family:Preahvihear, sans-serif;font-weight:600;color:white;font-size:20px;}#i0wl3u:hover{color:white;}#illu75{border-radius:10px 10px 10px 10px;background-repeat:repeat, no-repeat;background-position:left top, center center;background-attachment:scroll, scroll;background-size:auto, cover;background-image:linear-gradient(rgba(0,0,0,0.33) 0%, rgba(0,0,0,0.33) 100%), url('https://shwetainthekitchen.com/wp-content/uploads/2022/07/Pav-bhaji.jpg');height:40vh;display:flex;justify-content:center;align-items:center;}#illu75:hover{box-shadow:0px 0px 221px 19px black inset;}#i642uj{color:#d983a6;}#igxyuk{padding:10px;text-align:center;font-family:Preahvihear, sans-serif;font-weight:600;color:white;font-size:20px;}#igxyuk:hover{color:white;}#id2squ{border-radius:10px 10px 10px 10px;background-repeat:repeat, no-repeat;background-position:left top, center center;background-attachment:scroll, scroll;background-size:auto, cover;background-image:linear-gradient(rgba(0,0,0,0.33) 0%, rgba(0,0,0,0.33) 100%), url('https://shwetainthekitchen.com/wp-content/uploads/2022/07/Pav-bhaji.jpg');height:40vh;display:flex;justify-content:center;align-items:center;}#id2squ:hover{box-shadow:0px 0px 221px 19px black inset;}#i3qpik{color:#d983a6;}#irzkmm{padding:10vh 20px 10vh 20px;background-repeat:repeat, no-repeat;background-position:left top, center center;background-attachment:scroll, fixed;background-size:auto, cover;background-image:linear-gradient(rgba(0,0,0,0.81) 0%, rgba(0,0,0,0.81) 100%), url('https://waffy-demo.myshopify.com/cdn/shop/files/parallax2.jpg?v=1614285054');}#ian4qk{padding:10px;color:white;}#iq12qt{border-radius:8px 8px 8px 8px;}#izpdlo{width:100%;height:50vh;object-fit:cover;}#ift0is{color:white;font-family:Preahvihear, sans-serif;font-weight:600;font-size:20px;width:100%;height:100%;display:flex;justify-content:center;align-items:center;}@keyframes fadeEffect{from{opacity:0;}to{opacity:1;}}@media only screen and (max-width: 992px){.hamburger1.active .bar1:nth-child(2){opacity:0;}.hamburger1.active .bar1:nth-child(1){transform:translateY(8px) rotate(45deg);}.hamburger1.active .bar1:nth-child(3){transform:translateY(-8px) rotate(-45deg);}}* { box-sizing: border-box; } body {margin: 0;}#iab172{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:30px;text-align:left;color:white;}#ibi21g{padding:10px;font-family:Preahvihear, sans-serif;font-weight:900;font-size:46px;text-align:left;color:#f4b322;}#i8vi2v{padding:8px 20px 8px 20px;border:1px solid white;color:white;}#iy6538{display:flex;justify-content:flex-start;align-items:center;padding:0px 0px 0px 10px;}#ip9sgb{display:flex;flex-direction:column;justify-content:center;align-items:center;}#id4qdo{padding:5vh 20px 5vh 20px;background-repeat:repeat, no-repeat;background-position:left top, center center;background-attachment:scroll, fixed;background-size:auto, cover;background-image:linear-gradient(rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.55) 100%), url('https://proagri.co.za/wp-content/uploads/2023/07/vecteezy_a-bowl-of-organic-spice-collection-in-pattern-generated-by-ai_24768834_610-scaled.jpg');}#ix47iq{background-color:white;}#ixzjw4{background-color:white;}#i693rd{background-color:#cbcbcb;}#id6h3z{background-color:white;}#ierz44{background-color:white;bottom:-40px;}#iivqxk{background-color:white;bottom:-40px;}#i5j40q{background-color:white;bottom:-40px;}#iio50d{background-color:white;bottom:-40px;}@keyframes fadeEffect{from{opacity:0;}to{opacity:1;}}@media only screen and (max-width: 992px){.hamburger1.active .bar1:nth-child(2){opacity:0;}.hamburger1.active .bar1:nth-child(1){transform:translateY(8px) rotate(45deg);}.hamburger1.active .bar1:nth-child(3){transform:translateY(-8px) rotate(-45deg);}}@media (max-width: 990px){#ip9sgb{width:100%;}}* { box-sizing: border-box; } body {margin: 0;}#iw89uw{padding:30px 20px;height:100vh;display:flex;justify-content:center;align-items:center;background-repeat:repeat, no-repeat;background-position:left top, center center;background-attachment:scroll, scroll;background-size:auto, cover;background-image:linear-gradient(rgba(0,0,0,0.66) 0%, rgba(0,0,0,0.66) 100%), url('https://i.pinimg.com/originals/cf/9b/49/cf9b494e93baa2fcdfe9f9c58892b74f.jpg');}#i5eq82{width:500px;background-color:white;border-radius:20px 20px 20px 20px;}#ihzm6k{padding:10px;font-family:Comfortaa, cursive;font-weight:900;text-align:center;font-size:23px;}#i4uvyf{padding:10px;font-family:Comfortaa, cursive;font-weight:700;text-align:center;font-size:11px;color:#646464;}#exampleInputEmail1{width:100%;height:50px;}#exampleInputPassword1{width:100%;height:50px;}#icjiqs{width:100%;height:50px;background-color:#9f4103;color:white;font-family:Comfortaa, cursive;font-weight:900;font-size:13px;border:0px solid;}#ijtia8{display:flex;flex-direction:column;justify-content:center;align-items:center;}#iigfqr{background-color:white;border:0px solid;border-bottom:1px solid;font-weight:900;font-family:Comfortaa, cursive;font-size:16px;}#ilqvag{color:#646464;font-family:Comfortaa, cursive;font-weight:700;font-size:13px;}@keyframes fadeEffect{from{opacity:0;}to{opacity:1;}}@media only screen and (max-width: 992px){.hamburger1.active .bar1:nth-child(2){opacity:0;}.hamburger1.active .bar1:nth-child(1){transform:translateY(8px) rotate(45deg);}.hamburger1.active .bar1:nth-child(3){transform:translateY(-8px) rotate(-45deg);}}* { box-sizing: border-box; } body {margin: 0;}#ira7mx{font-family:Preahvihear, sans-serif;font-weight:800;font-size:22px;}#i1yowj{font-family:Preahvihear, sans-serif;}#imqecp{font-family:Preahvihear, sans-serif;font-weight:700;font-size:18px;}#isjdsg{font-family:Preahvihear, sans-serif;}#iqva7q{font-size:15px;color:#8a8a8a;font-weight:300;}#ikwldl{font-family:Preahvihear, sans-serif;}@keyframes fadeEffect{from{opacity:0;}to{opacity:1;}}@media only screen and (max-width: 992px){.hamburger1.active .bar1:nth-child(2){opacity:0;}.hamburger1.active .bar1:nth-child(1){transform:translateY(8px) rotate(45deg);}.hamburger1.active .bar1:nth-child(3){transform:translateY(-8px) rotate(-45deg);}}